
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

hr{
    border: 0.5px solid #DBDBDD;

}

.none{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    font-size: 20px;
}




/* HEADER */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 7vh; */

    /* debug */
    /* background-color: #C27E7E; */
}

.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    cursor: pointer;

}

.login{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
/* /HEADER */


/* MAIN */
/* First-Box */
.first-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;


    width: 100%;
    height: 60vh;

    background-color: #B4D0E7;
}

.title-box{

    width: 60%;
    height: 13vh;
    margin: 5px 0;
    font-size: 30px;

    /* debug */
    /* background-color: gray; */

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.start{
    color: #F6F6F6;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0061FF;
    cursor: pointer;

}

.start:hover{
    background-color: #3C84FB;
}

.start-trial{
    
    color: #F6F6F6;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px 0;
    background-color: #0061FF;
    cursor: pointer;

}

.start-trial:hover{
    background-color: #3C84FB;

}

.start-trial-enterprise:hover{
    background-color: #3C84FB;

}


.first-content{
    position: relative;
   
    display: flex;
    width: 60%;
    height: 87vh;
    /* background-color: blanchedalmond; */
}
.arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    
    
}

.arrow a{
    scroll-behavior: smooth;
    color: #000;
}

.description{
    padding: 30px 0;
    width: 40%;
    /* background-color: chocolate; */
    /* border: 1px dashed black; */
    font-size: 24px;
}

.image{
    padding: 30px 0;
    width: 60%;
    /* background-color: crimson; */
    /* border: 1px dashed black; */
}

/* /First-Box */

.second-box{
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;
    min-height: 100vh;

    /* background-color: violet; */
}

.title-box-min{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 13vh;
    margin-top: 50px;
    font-size: 30px;

    /* debug */
    /* background-color: gray; */

}




.choose{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    margin: 20px;
}

.choose-plan {
    display: flex;
    flex-direction: column;

    width: 60%;
    /* height: 80vh; */

    /* background-color: turquoise; */

}

.plans{
    display: flex;
    justify-content: space-around;
    /* height: 80vh; */
}

.plans ul li{
    padding: 5px;
}

.plan{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 3);
    margin: 30px;
    border: 1px solid #DBDBDD;
}

.plan-title{
    padding: 10px;
}

.check{
    color: #0D67FF;
}


.plan-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* position: relative; */

    
}






.plan-description h2{
    margin: 7px 5px;
}

.plan-description strong{
    margin: 7px 5px;
}

.plan-description div{
    margin: 7px 5px;
}

.plan-description li{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    text-align: center;
    
    
}

li span{
    text-align: center;
    margin-right: 20px;
}

li i{
    margin-right: 20px;
}

.plan-description button{
    margin: 0 10px;
}


.plan-feature{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}



.or{
    margin: 15px 10px;
}

.or hr{
    margin: 30px 0;
    width: 40%;
    
}



.plan-enterprise{
    display: flex;
    width: 100%;
    height: 30vh;
    /* debug */
    /* background-color: teal; */
    
    
}

.plan-description-enterprise{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    
    
    
}

.plan-description-enterprise span{
    position: absolute;
    bottom: -140%;
    left: 0;
    font-size: 18px;
}

.plan-description-enterprise strong{
    margin: 20px 0;

}

.start-trial-enterprise{
    color: #F6F6F6;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    margin: 30px 30px;
    background-color: #0061FF;
    position: absolute;
    right: 0;

}


.enterprise{
    text-align: center;

    width: 100%;
    margin: 10px;
    border: 1px solid #DBDBDD;
}

.contact-partner{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 60vh;

    /* debug */
    /* background-color: darkgreen; */

}

.img-partner{
    width: 60%;
    /* height: 40vh; */
    margin: 0 5px;
    /* border: 1px solid black; */
}

.descr-partner{

    font-size: 24px;
    
    width: 40%;
    height: 40vh;
    margin: 0 5px;

    /* border: 1px solid black; */
}

.descr-partner h2{
    font-size: 35px;
}

.find-partner{
    margin: 80px 0px;
}

.find-partner input{
    font-size: 18px;
    border-bottom: 2px solid #888686;
    border-left: 2px solid #888686;
    border-top: 2px solid #E1E1E1;
    border-right: 2px solid #E1E1E1;
    padding: 15px 40px;
    cursor: pointer;

}
    
    

.find-partner input:hover{
    background-color: #B9B9B9;
}   




.operations{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: start; */
    width: 60%;
    /* height: 80vh; */

    /* background-color: bisque; */
}

.operations h3{
    margin: 50px;
    font-size: 34px;
}

.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(90% / 3);
    /* height: 40vh; */
    /* border: 1px solid black; */

    
}

.card-image{
    width: 100%;
    height: calc(100% / 2);
    /* border: 1px dashed black; */
}

.card-image h2{
    margin: 10px 0;

}

.brands-container{
    display: flex;
    width: 100%;
    height: 60vh;

    /* background-color:darkkhaki; */
}

.brands-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% / 3);
    /* border: 1px solid black; */
    margin: 0;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    /* border: 1px solid black; */
    margin: 0;
    padding: 60px;
}

.designit{
    background-color: #A2D39B;
    
}

.asu{
    background-color: #61082B;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.bicycle{
    background-color: #D5001F;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely{
    background-color: #0D2481;
}

.clear{
    background-color: #FFD830;
}

.description-brands{
    
    width: calc(100% / 3);
    /* border: 1px dashed black; */
    background-color: #F5F5F5;
    margin: 0;
}

.description-brands img{
    padding: 20px 10px;
    
}

.description-brands hr{
    margin: 0 30px;
    width: 25%;
}

.description-brands p, .description-brands span{
    margin: 40px 10px;
}

.free-trial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 0; */

    width: 100%;
    height: 30vh;

    background-color: #B4D0E7;
}

.free-trial h3{
    font-size: 34px;

}

.free-trial input{
    font-size: 18px;
    border-bottom: 2px solid #888686;
    border-left: 2px solid #888686;
    border-top: 2px solid #E1E1E1;
    border-right: 2px solid #E1E1E1;
    padding: 15px 40px;
    cursor: pointer;
}

.free-trial input:hover{
    background-color: #B9B9B9;
} 

.QA-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    /* height: 30vh; */
}

.QA-Box{
    width: 60%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

    /* background-color: bisque; */
}

.QA-Box h3{
    margin: 20px;
    font-size: 35px;
}




.accordion{
    background-color: white;
    
    cursor: pointer;
    padding: 40px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 20px;

    
}

.active, .accordion:hover{
    background-color: #B9B9B9;

   

}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel:hover p{
    display: block;
}

.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 50vh; */

    background-color: black;
}

.footer-box{
    display: flex;
    flex-direction: row;

    width: 70%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    width: calc(100% / 5);
    /* border: 1px solid white; */
    margin: 10px;
    color: #F5F5F5;
    font-size: 17px;
}

.info h4{
    font-size: 25px;
    margin: 30px 20px;
}

.info p{
    margin: 10px 0;
}

.info ul{
    list-style: none;
}

.info-list{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.info-list a{
    color: #F5F5F5;
    font-size: 17px;
}

.info-list li{
    margin: 10px 0;
}